* {
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

html {
    background: #EEE;
    --header: #777;
    --footer: #777;
    --main-a: #F00;
    --main-b: #F77;
    --main-c: #F99;
}

body {
    display: grid;
    grid-template-areas: 
    'header header'
    'aside main'
    'footer footer';
    grid-template-columns: auto 1fr;
    grid-template-rows: 6rem 1fr 6rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

header {
    grid-area: header;
    background: var(--header);
    box-shadow: 0 0.5rem 0.5rem 0 black;
}

footer {
    grid-area: footer;
    background: var(--footer);
}

#main-window {
    grid-area: main;
    margin-right: 1rem;
}

#productos {
    padding: 1rem;
    background: var(--main-a);
    display: grid;
    width: 100%;
    grid-template-areas:
    'tabla tabla'
    'agregar modificar';
    border-radius: 0.5rem 0 0 0.5rem;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}
    #productos #tabla {
        grid-area: tabla;
        height: fit-content;
        padding: 1rem;
        background: var(--main-b);
        border-radius: 0.5rem;
        border-spacing: 0;
    }
        #productos #tabla * {
            font-family: monospace;
            font-size: 12pt;
        }
        #productos #tabla tr:nth-child(odd) {
            background: var(--main-c);
        }
        #productos #tabla tr td:nth-child(2) {
            text-align: center;
        }
        #productos #tabla input {
            width: 100%;
            background: none;
            border: 2px solid var(--main-c);
            cursor: pointer;
        }
        #productos #tabla tr:nth-child(odd) input {
            border: 2px solid var(--main-b);
        }