* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-color: #008080;
    --color-negro: #222;
    --color-gris: #BBB;
    --color-blanco: #EEE;
    --borde-arriba: var(--color-blanco) 0.2rem outset;
    --borde-abajo: var(--color-blanco) 0.2rem inset;
}

body {
    min-height: 100dvh;
    min-width: fit-content;
}

#container {
    height: 100%;
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-areas:
        "header header"
        "aside main";
    grid-template-columns: 1fr 9fr;
}

header {
    grid-area: header;
    background-color: var(--color-gris);
    border: var(--borde-arriba);
    height: 2rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
header a {
    text-decoration: none;
    color: var(--color-negro);
    font-size: 1.5rem;
    font-family: serif;
    font-weight: bold;
}

aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

nav {
    background-color: var(--color-gris);
    height: fit-content;
    padding: 1rem;
    border: var(--borde-arriba);
}
nav div {
    border: var(--borde-abajo);
    padding: 1rem;
}
nav a {
    text-decoration: none;
}
nav ul, li {
    list-style: none;
    margin-top: 1rem;
}

.mensaje {
    padding: 1rem;
    max-width: 100%;
    animation: mensaje-flash 10s;
}

main {
    grid-area: main;
    background-color: var(--color-gris);
    height: fit-content;
    padding: 1rem;
    border: var(--borde-arriba);
}