<aside>
    <nav>
        <legend>Navegar</legend>
        <details open>
            <summary>Manejo de datos</summary>
            <a href="{{ url_for('Template_Usuarios') }}">Usuarios</a>
            <a href="{{ url_for('Template_Productos') }}">Productos</a>
            <a href="{{ url_for('Template_Componentes') }}">Componentes</a>
            <a href="{{ url_for('Template_Stock') }}">Stock</a>
            <a href="{{ url_for('Template_Fabricaciones') }}">Fabricaciones</a>
            <a href="/facturas">Facturas</a>
        </details>

        <details open>
            <summary>Informes</summary>
            <a href="">Productos</a>
            <a href="">Componentes</a>
            <a href="">Stock</a>
            <a href="">Fabricaciones</a>
            <a href="">Facturas</a>
        </details>
    </nav>

    {% if mensajes %}
        <div id="mensajes">
        <legend>Mensajes</legend>

        {% for mensaje in mensajes %}                
            <span class="mensaje">
                {{ mensaje }}
            </span>
        {% endfor %}

        </div>
    {% endif %}
</aside>