<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>

    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    {% include 'header.html' %}
    {% include 'aside.html' %}

    <main>
        <legend>Componentes</legend>
        <table>
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th>Nombre</th>
                    <th>Unidad</th>
                    <th>Precio</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% if componentes_habilitados %}
                    {% for id, componente in componentes_habilitados.items() %}
                        <tr>
                            <form action="{{ url_for('Modificar_Componente') }}" method="post">
                                <th class="id">
                                    <input type="text" name="id" value="{{ id }}" readonly>
                                </th>
                                <td>
                                    <input type="text" name="nombre" value="{{ componente['nombre'] }}" required>
                                </td>
                                <td>
                                    <select name="unidad">
                                        {% for simbolo, unidad in unidades.items() %}
                                            {% if simbolo == componente['unidad'] %}
                                                <option selected value="{{ simbolo }}">{{ unidad }}</option>
                                            {% else %}
                                                <option value="{{ simbolo }}">{{ unidad }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="number" name="precio_costo" value="{{ componente['precio_costo'] }}" required min="0" step="0.1" onmousewheel="controlRueda(event, this, 0.1)">
                                </td>
                                <th class="columnaAcciones">
                                    <span>
                                        <input type="submit" value="Modificar">
                                        <input type="submit" value="Eliminar" formaction="{{ url_for('Eliminar_Componente') }}">
                                    </span>
                                </th>
                            </form>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <form action="{{ url_for('Agregar_Componente') }}" method="post">
                        <th>
                            {{ componente_siguiente }}
                        </th>
                        <td>
                            <input type="text" name="nombre" required>
                        </td>
                        <td>
                            <select name="unidad" required>
                                {% for simbolo, unidad in unidades.items() %}
                                    <option value="{{ simbolo }}">{{ unidad }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="precio_costo" required min="0" step="0.1" onmousewheel="controlRueda(event, this, 0.1)">
                        </td>
                        <th class="columnaAcciones">
                            <span>
                                <input type="submit" value="Agregar">
                            </span>
                        </th>
                    </form>
                </tr>
            </tbody>
        </table>

        <legend>Componentes por producto</legend>
        <table>
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th>Producto</th>
                    <th>Componente</th>
                    <th>Cantidad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% if componentes_por_producto_habilitados %}
                    {% for id, componente in componentes_por_producto_habilitados.items() %}
                        <tr>
                            <form action="{{ url_for('Modificar_Componente_Por_Producto') }}" method="post">
                                <th class="id">
                                    <input type="text" name="id" value="{{ id }}" readonly>
                                </th>
                                <td>
                                    <select name="id_producto" required>
                                        {% for id_producto, texto in productos_lista.items() %}
                                            {% if id_producto == componente['id_producto'] %}
                                                <option selected value="{{ id_producto }}">{{ texto }}</option>
                                            {% else %}
                                                <option value="{{ id_producto }}">{{ texto }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select name="id_componente" required>
                                        {% for id_componente, texto in componentes_lista.items() %}
                                            {% if id_componente == componente['id_componente'] %}
                                                <option selected value="{{ id_componente }}">{{ texto }}</option>
                                            {% else %}
                                                <option value="{{ id_componente }}">{{ texto }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="number" name="cantidad" value="{{ componente['cantidad'] }}" required min="0" step="0.1" onmousewheel="controlRueda(event, this, 0.1)">
                                </td>
                                <th class="columnaAcciones">
                                    <span>
                                        <input type="submit" value="Modificar">
                                        <input type="submit" value="Eliminar" formaction="{{ url_for('Eliminar_Componente_Por_Producto') }}">
                                    </span>
                                </th>
                            </form>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <form action="{{ url_for('Agregar_Componente_Por_Producto') }}" method="post">
                        <th>
                            {{ componente_por_producto_siguiente }}
                        </th>
                        <td>
                            <select name="id_producto" required>
                                {% for id, producto in productos_lista.items() %}
                                    <option value="{{ id }}">{{ producto }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="id_componente" required>
                                {% for id, componente in componentes_lista.items() %}
                                    <option value="{{ id }}">{{ componente }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="number" name="cantidad" required min="0" step="0.1" onmousewheel="controlRueda(event, this, 0.1)">
                        </td>
                        <th class="columnaAcciones">
                            <span>
                                <input type="submit" value="Agregar">
                            </span>
                        </th>
                    </form>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>