<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Practico</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel='stylesheet' href='{{url_for('static', filename='styles.css')}}'>
</head>

<body>
    <div class="window">
        {% include 'header.html' %}

        <div class="window-body" id="container">
            <div id="aside">
                {% include 'nav.html' %}

                {% if not componentesLista %}
                    {% if not productosLista %}
                    <div class="field-border-disabled" id="mensaje">
                        No hay productos
                    </div>
                    {% endif %}
                    <div class="field-border-disabled" id="mensaje">
                        No hay componentes
                    </div>
                {% elif mensaje %}
                    <div class="field-border-disabled" id="mensaje">
                        {{mensaje}}
                    </div>
                {% endif %}
            </div>

            <div id="main">
                <legend>Componentes</legend>
                <div class="sunken-panel">
                    <table class="interactive">
                        <thead>
                            <th class="primerColumna">ID</th>
                            <th>Nombre</th>
                            <th>Unidad</th>
                            <th class="ultimaColumna">Acción</th>
                        </thead>
                        {% if componentesLista %}
                        {% for componente in componentesLista %}
                        <tr>
                            <form action="/componentes/modificar" method="post">
                                <td class="primerColumna">
                                    <input type="text" name="id_modificar" value="{{componente[0]}}" readonly required>
                                </td>

                                <td>
                                    <input type="text" name="nombre_modificar" value="{{componente[1]}}" required>
                                </td>

                                <td>
                                    <select name="unidad_modificar" id="unidad_modificar">
                                        {% for key, value in componentesUnidades.items() %}
                                            {% if key == componente[2] %}
                                                <option selected value="{{ key }}">{{ value }}</option>
                                            {% else %}
                                                <option value="{{ key }}">{{ value }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </td>

                                <td class="ultimaColumna">
                                    <div>
                                        <input type="submit" value="Guardar">

                                        <form method="post">
                                            <input type="hidden" name="id_eliminar" value="{{componente[0]}}">
                                            <input type="submit" formaction="/componentes/eliminar" value="Eliminar">
                                        </form>
                                    </div>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                        {% endif %}
                        <tr>
                            <form action="/componentes/agregar" method="post">
                                <td class="primerColumna">
                                    <input type="text" name="id_agregar" value="{{ componenteSiguiente }}" readonly required>
                                </td>
                                <td>
                                    <input type="text" name="nombre_agregar" required>
                                </td>
                                <td>
                                    <select name="unidad_agregar" id="unidad_agregar">
                                        {% for key, value in componentesUnidades.items() %}
                                            <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="ultimaColumna">
                                    <input type="submit" value="Agregar">
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>

                <legend>Componentes por producto</legend>
                <div class="sunken-panel">
                    <table class="interactive">
                        <thead>
                            <th class="primerColumna">ID</th>
                            <th>Producto</th>
                            <th>Componente</th>
                            <th>Cantidad</th>
                            <th>Acción</th>
                        </thead>

                        {% if componentesPorProductoLista %}
                            {% for componentePorProducto in componentesPorProductoLista %}
                                <tr>
                                    <form action="/componentes/por-producto/modificar">
                                        <td class="primerColumna">
                                            <input type="text" name="id_modificar" value="{{ componentePorProducto[0] }}" readonly required>
                                        </td>

                                        <td>
                                            <input type="text" name="producto" value="{{ productosFormateados.get( componentePorProducto[1] ) }}">
                                        </td>
                                        
                                        <td>
                                            <input type="text" name="componente" value="{{ componentesFormateados.get( componentePorProducto[2] ) }}">
                                        </td>

                                        <td>
                                            <input type="number" name="cantidad" value="{{ componentePorProducto[3] }}">
                                        </td>

                                        <td class="ultimaColumna">
                                            <div>
                                                <input type="submit">

                                                <form method="post">
                                                    <input type="hidden" name="id_eliminar" value="{{ componentePorProducto[0] }}">
                                                    <input type="submit" formaction="/componentes/por-producto/eliminar" value="Eliminar">
                                                </form>
                                            </div>
                                        </td>
                                    </form>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        <tr>
                            <form action="/componentes/por-producto/agregar" method="post">
                                <td class="primerColumna">
                                    <input type="text" name="id_agregar" value="{{componenteSiguiente}}" readonly required>
                                </td>

                                <td>
                                    <select name="id_producto">
                                        {% for key, value in productosFormateados.items() %}
                                            <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <select name="id_componente">
                                        {% for key, value in componentesFormateados.items() %}
                                            <option value="{{ key }}">{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <input type="number" name="cantidad">
                                </td>

                                <td class="ultimaColumna">
                                    <input type="submit" value="Agregar">
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>