<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>

    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    
</head>

<body>
    {% include 'header.html' %}
    {% include 'aside.html' %}

    <main>
        <legend>Fabricaciones</legend>
        {% if fabricaciones %}
            {% for id, fabricacion in fabricaciones.items() %}
                <table class="fabricacion">
                    <tr>
                        <th style="width: 8rem;">{{fabricacion['fecha']}}</th>
                        <th colspan="3">Productos</th>
                    </tr>
                    <tr>
                        <th class="id" rowspan="{{ fabricacion['productos']|length + 2 }}">#{{ id }}</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Costo Total</th>
                    </tr>
                    {% for id_producto, producto in fabricacion['productos'].items() %}
                        <tr>
                            <td>
                                <input type="text" value="{{ productos_lista.get(id_producto) }}" readonly>
                            </td>
                            <td>
                                <input type="number" value="{{ producto['cantidad'] }}" readonly>
                            </td>
                            <td>
                                <input type="number" value="{{ producto['costo_total'] }}" readonly>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% endif %}

        <form action="{{ url_for('Agregar_Fabricacion') }}" method="post">            
            <table class="nuevaFabricacion">
                <tr>
                    <th style="width: 8rem;">
                        <input type="date" name="fecha" value="{{ fechaHoy }}" required style="width: 8rem;">
                    </th>
                    <th colspan="3">Productos</th>
                </tr>
                <tr>
                    <th class="id">#{{ fabricacion_siguiente }}</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Costo Total</th>
                </tr>
                <tr class="agregarFila">
                    <th class="columnaAcciones" rowspan="1">
                        <span>
                            <input type="button" value="+" onclick="agregarFila(this)">
                        </span>
                    </th>
                    <td>
                        <select name="producto" required>
                            {% for id_producto, producto in productos_lista.items() %}
                                <option value="Producto,{{ id_producto }}">{{ producto }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="number" name="cantidad" required step="0.1" onmousewheel="controlRueda(event, this, 0.1)">
                    </td>
                    <td>
                        <input type="number" name="costo_total" required step="0.1" onmousewheel="controlRueda(event, this, 0.1)">
                    </td>
                </tr>
                <tr class="columnaAcciones">
                    <th class="columnaAcciones" colspan="4">
                        <span>
                            <input type="submit" value="Agregar">
                        </span>
                    </th>
                </tr>
            </table>
        </form>
    </main>
</body>
</html>