<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Practico</title>
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel='stylesheet' href='{{url_for('static', filename='styles.css')}}'>
</head>

<body>
    <div class="window">
        {% include 'header.html' %}

        <div class="window-body" id="container">
            <div id="aside">
                {% include 'nav.html' %}
    
                {% if mensaje %}
                    <div class="field-border-disabled" id="mensaje">
                        {{mensaje}}
                    </div>
                {% endif %}
            </div>
            
            <div id="main">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum odit corrupti veniam voluptates repellendus itaque at fuga illo. Numquam distinctio accusamus velit fuga odit autem nesciunt qui, tempora omnis delectus.</p>

                <p>WIP</p>
            </div>
        </div>
    </div>
</body>

</html>