<legend>Navegar</legend>
<ul class="tree-view" id="nav">
    <li>
        <details open>
            <summary>Cargar datos</summary>
            <ul>
                <li><a href="/productos/">Productos</a></li>
                <li><a href="/componentes/">Componentes</a></li>
                <li><a href="/stock/">Stock</a></li>
                <li>Fabricaciones</li>
                <li>Facturas</li>
            </ul>
        </details>
    </li>
    <li>
        <details closed>
            <summary>Recuperar datos</summary>
            <ul>
                <li><a href="/productos/recuperar">Productos</a></li>
                <li><a href="/componentes/recuperar">Componentes</a></li>
                <li><a href="/stock/recuperar">Stock</a></li>
                <li><a href="/fabricaciones/recuperar">Fabricaciones</a></li>
                <li><a href="/facturas/recuperar">Facturas</a></li>
            </ul>
        </details>
    </li>
    <li>
        <summary>Informes</summary>
    </li>
</ul>