<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'header.html' %}
    {% include 'aside.html' %}

    <main>
        <legend>Productos</legend>
        <table>
            <thead>
                <tr>
                    <th class="id">ID</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Modelo</th>
                    <th>Estilo</th>
                    <th>Medidas</th>
                    <th>Precio</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% if productos_habilitados %}
                    {% for id, producto in productos_habilitados.items() %}
                        <tr>
                            <form action="{{ url_for('Modificar_Producto') }}" method="post">
                                <th class="id">
                                    <input type="text" name="id" value="{{ id }}">
                                </th>
                                <td>
                                    <input type="text" name="tipo" value="{{ producto['tipo'] }}">
                                </td>
                                <td>
                                    <input type="text" name="nombre" value="{{ producto['nombre'] }}">
                                </td>
                                <td>
                                    <input type="text" name="modelo" value="{{ producto['modelo'] }}">
                                </td>
                                <td>
                                    <input type="text" name="estilo" value="{{ producto['estilo'] }}">
                                </td>
                                <td>
                                    <input type="text" name="medidas" value="{{ producto['medidas'] }}">
                                </td>
                                <td>
                                    <input type="number" name="precio_venta" value="{{ producto['precio_venta'] }}">
                                </td>
                                <th class="columnaAcciones">
                                    <span>
                                        <input type="submit" value="Modificar">
                                        <input type="submit" value="Eliminar" formaction="{{ url_for('Eliminar_Producto') }}">
                                    </span>
                                </th>
                            </form>
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <form action="{{ url_for('Agregar_Producto') }}" method="post">
                        <th>
                            {{ producto_siguiente }}
                        </th>
                        <td>
                            <input type="text" name="tipo">
                        </td>
                        <td>
                            <input type="text" name="nombre">
                        </td>
                        <td>
                            <input type="text" name="modelo">
                        </td>
                        <td>
                            <input type="text" name="estilo">
                        </td>
                        <td>
                            <input type="text" name="medidas">
                        </td>
                        <td>
                            <input type="number" name="precio_venta">
                        </td>
                        <th class="columnaAcciones">
                            <span>
                                <input type="submit" value="Agregar">
                            </span>
                        </th>
                    </form>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>